.Selector{
    position: absolute;
    width: 35%;
    left: 0;
    height: 60%;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 40px;
    margin-left: 60px ;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}