#list-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    font-size: .85rem;
    margin-left: -24px;
}

.itemlist-container{
    width: 400px;
    text-align: left;
    line-height: 1.6rem;
}

.list-item{
    list-style: none; 
    margin: 3px ;
}

.list-item::before{  
    content: "\02C3";
    font-size: 1.1rem; 
    font-weight: 700;
    margin-left: -21px;
    margin-right: 10px;
} 

@media only screen and (max-width: 1354px) {
    .itemlist-container{
        line-height: 1.2rem;
    }

    #list-menu{
        font-size: .75rem;
    }

}