.Visor{
    display: flexbox;
    position: absolute;
    width: 50%;
    right: 0;
    height: 90%;
    flex-direction: column;
    margin: 20px;
    margin-top: 40px;
    padding-right: 30px;
    line-height: 1.6rem;
}

.Visor h2{
    margin: 60px 0 50px 0;
}

.Visor p{
    text-align: justify;
    margin-bottom: 50px;
}

.pic-container{
    width: 100%;
    display: flex;
    justify-content: center;
}