.Contact{
    position:absolute;
    bottom: 50px;
    right: 20px;
}

.Contact a{
    font-size: 1.3rem;
    margin: 0 60px;
    text-decoration: none;
}

.Contact a:hover{
    filter: brightness(200%) saturate(140%);   
}

@media only screen and (max-width: 1311px) {

    .Contact{
        left: auto;
        display: flexbox;
    }

    .Contact a{
        margin: 0 30px; 

    }
    
}

@media only screen and (max-width: 932px) {

    .Contact{
        display: none;
    }


}