.list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    height: 250px;
    border-width:  0 0 0 1px;
    border-style: solid;
    padding: 10px 10px 10px 0;

}

.list-element{
    cursor: pointer;
    height: 100%;
    padding: 10% 0;
    padding-left:10px ;
}


.list-element:hover{
    background-color: rgba(0,0,0,.2);
    color:white;
}