.Box{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    border-width: 1px 0;
    border-style: solid;
}

.Box:hover{
    top:-20px;
    right: 50px;
    border-width: 1px;
    background-color: black;
    color: chartreuse;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
     -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
         transition: all 0.7s ease-out;

}

.icon{
    border-width: 0 1px;
    border-style: solid;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-container{
    padding-left: 30px;
    line-height: .5;
}

#box-title{
    font-weight: 500;
    font-size: 1.2rem;
}

.fas{
    font-size: 2.4rem;
}

#box-description{
    font-size: 300;
    margin:0;    
}